# Python cache
__pycache__/
*.pyc

# SQLite database (should not be committed)
db.sqlite3

# Environment variables
*.env

# Django stuff
*.log

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd

# Mac finder metadata
.DS_Store
